/* Estilo general del modal */
.modal-content {
  background-color: #2c3e50; /* Fondo oscuro */
  color: #ecf0f1; /* Texto claro */
  border-radius: 8px; /* Bordes redondeados */
}

.modal-header, .modal-footer {
  border-bottom: 1px solid #34495e; /* Línea divisoria más clara para el encabezado */
  border-top: 1px solid #34495e; /* Línea divisoria para el pie */
}

.modal-title {
  color: #ecf0f1; /* Título claro */
}

/* Botones */
.btn-close {
  filter: invert(1); /* Cambia el color del botón de cierre a claro */
}

.btn-secondary, .btn-primary {
  background-color: #34495e; /* Fondo de botones */
  border-color: #4a5e70; /* Borde de botones */
  color: #ecf0f1; /* Texto de botones */
}

.btn-secondary:hover, .btn-primary:hover {
  background-color: #4a5e70; /* Fondo de botones al pasar el ratón */
}

/* Estilos de los inputs */
.textbox {
  background-color: #34495e; /* Fondo oscuro para los inputs */
  color: #ecf0f1; /* Texto claro para los inputs */
  border: 1px solid #4a5e70; /* Borde de los inputs */
  border-radius: 4px; /* Bordes redondeados para los inputs */
  padding: 10px; /* Espaciado interior para los inputs */
  width: 100%; /* Ancho completo dentro del modal */
  margin-bottom: 15px; /* Espaciado entre inputs */
}

.textbox:focus {
  border-color: #95a5a6; /* Borde de los inputs al enfocarse */
  outline: none; /* Remueve el contorno predeterminado al enfocar */
}

/* Estilo de las etiquetas de los campos */
.label {
  margin-bottom: 5px;
  display: block;
}
